/**reset https://alligator.io/css/minimal-css-reset/ */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* Main styles*/

  body {
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h1 {
      font-weight: bold;
      color: palevioletred;
  }


  #grid {
    border-collapse: collapse;
  }
  
    #grid td {
      border: 1px solid gray;
    }
    
    #grid input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 0.75em;
      height: 0.75em;
      border: 0;
      background: white;
    }
    
      #grid input[type="checkbox"]:checked {
        background: pink;
      }

#control-panel {
  margin: 1em;
}

  #control-panel button {
    border-radius: 1em;
    color: blue;
    padding: 0.5em 0.75em;
    margin: 0.75em;
    cursor: pointer;
    transition: all .2s;
  }

  #control-panel button:hover {
    transform: translateY(-0.2em);
    box-shadow: 0 0.5em 1.2em rgba(0,0,0,.2);
  }

  #control-panel button:active {
    transform: translateY(-0.1em);
    box-shadow: 0 0.3em 0.8em rgba(0,0,0,.2); /* loase a bit of shadow and blur on depressing button */
  }

  #control-panel button:disabled {
    color: white;
    cursor: not-allowed;
  }